@import 'bootstrap/dist/css/bootstrap';

.no-right-padding{
    padding-right: 0px !important;
}
.no-left-padding{
    padding-left: 0px !important;
}
.logout-button {
    margin-right: 5px;
}
.user-name {
    margin-top: 3.5%;
    padding-right: 5px;
}